{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>Document</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/template.css' %}" type="text/css" />
    {% block style %}
    {% endblock %}
  </head>

  <body>
    <div id="navbar">
      <div class="container">
        <div class="navbar_logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/meilmail_logo.png' %}" alt="">
          </a>
        </div>
        <div class="navbar_menu">
          {% if user.is_active %}
            {% if is_writer == "일반" %}
              <a href="{% url 'writer_apply'%}">작가 신청</a>
            {% endif %}
            {% if is_writer == "작가" %}
              <a href="{% url 'write'%}">글쓰기</a>
            {% endif %}
            
            <div class="navbar_menu_thumbnail">
              <div class="navbar_menu_img">
                <img src="{{ thumbnail.url }}" alt="">
              </div>
              <div class="navbar_menu_dropdown">
                <div class="navbar_menu_dropdown_item">
                  {{ nickname }}
                </div>
                <div class="navbar_menu_dropdown_item">
                  <a href="{% url 'mypage' %}">내정보</a>
                </div>
                <div class="navbar_menu_dropdown_item">
                  <a href="{% url 'logout' %}">나가기</a>
                </div>
              </div>
            </div>
          {% else %}
            <a href="{% url 'login' %}">들어가기</a>
            <a href="{% url 'signup' %}">회원가입</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div id="content">
      <div class="container">
        {% block content %}
        Content
        {% endblock %}
      </div>
    </div>

    {% block script %}
    {% endblock %}
  </body>
</html>